* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
}

.header--sub-title,
h2 {
  font-size: 1.3125rem;
}

/* LAYOUT */

.content {
  display: flex;
  min-height: 100vh;
}

.header,
.body{
  min-height: 100vh;
}

.header{
  width: 66%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0 2em;
  background-image: url(./assets/dark-ribs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header--caption-text,
.header--sub-title {
  color: #f18119;
}

.header--caption-text {
  border-top: 5px solid #f18119;
  width: fit-content;
  margin: 0 auto;
}

/* .header--titles {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.header--title {
  margin: 0;
}

.header--sub-title {
  margin: 0;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 2em;
  width: 33%;
}

.body--subtitle,
.body--btn {
  text-transform: uppercase;
}

.body--form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 5px;
  width: 60%;
}

.body--title {
  margin: 0;
}

.body--subtitle {
  color: #f18119;
  margin-top: 0;
  font-weight: bold;
}

.body--input {
  margin-bottom: 1em;
  text-align: center;
  opacity: 50% ;
}

.body--titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body--text {
  max-width: 50%; 
}

.body--btn {
  padding: 0.5em 1em;
  background: #ff713b;
  color: #fff;
  border: none;
  border-radius: 5px;
  opacity: 100%;
}

.body--btn:hover,
.body--btn:focus {
  color: #fff;
  background: blue;
}


.body--disclaimer {
  font-size: 0.625rem;
}

@media (max-width: 550px){

  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .body,
  .header {
    width: 100%;
    min-height: 100vh;
  }

  .header--caption-text{
    display: inline-block;
  }

  .body {
    margin: 0;
  }

}